.container {
  box-sizing: border-box;
  min-width: $mobile-width;
  // margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include media-tablet {
    min-width: $tablet-width;
  }

  @include media-desktop {
    padding-left: 40px;
    padding-right: 40px;
    min-width: $desktop-width;
  }
}
