.catalog {
  padding-top: 49px;
  padding-bottom: 44px;
  background-color: $color-bg-grey;

  @include media-tablet {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__badge {
  margin-bottom: 5px;
  text-align: center;
}

.catalog__section {
  text-align: center;
  margin-bottom: 20px;

  @include media-desktop {
    margin-bottom: 40px;
  }
}

.catalog__wrapp {
  @include media-desktop {
    display: flex;
    gap: 30px;
  }
}

.catalog__sort-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 3px;

  @include media-tablet {
    justify-content: right;
    gap: 10px;
    margin-bottom: 26px;
  }

  @include media-desktop {
    margin-bottom: 27px;
    margin-top: -4px;
  }
}

.catalog__select {
  appearance: none;
  cursor: pointer;

  box-sizing: border-box;
  width: 165px;
  height: 32px;
  padding: 4px 20px 3px 13px;

  color: $color-base;
  background-color: transparent;
  border: none;
  border-radius: 4px;

  @include media-desktop {
    padding-left: 10px;
  }

  &:hover,
  &:focus {
    background-color: $color-line;
  }

  &:active {
    background-image: url("../../icons/selict_arr_active.svg");
  }
}

.catalog__icon {
  position: relative;
}

.catalog__icon::before {
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  top: 14px;
  right: 7px;

  @include media-desktop {
    right: 10px;
  }
}
