.control {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.control__mark-radio {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;

  border: 2px solid $color-grey;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.control__input[type="radio"]:not(:disabled):checked + .control__mark-radio {
  border-color: $color-base;

  &::before {
    display: block;
    background-color: $color-base;
  }
}

.control__input[type="radio"]:not(:disabled):focus-visible + .control__mark-radio,
.control__input[type="radio"]:not(:disabled):hover + .control__mark-radio {
  border-color: $color-base-light;

  &::before {
    display: block;
    background-color: $color-base-025;
  }
}

.control__input[type="radio"]:disabled + .control__mark-radio {
  border-color: $color-grey-light;
  cursor: no-drop;
}

.control__input[type="radio"]:disabled:checked + .control__mark-radio {
  border-color: $color-grey-light;
  cursor: no-drop;

  &::before {
    display: block;
    background-color: $color-grey-light;
    cursor: no-drop;
  }
}

.control__input[type="radio"]:disabled ~ .text-label {
  color: $color-grey-light;
  cursor: no-drop;
}

.control__mark-check {
  box-sizing: border-box;
  width: 42px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: $color-grey;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    box-sizing: border-box;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 18px 0 0;
    background-color: $color-white;
    border-radius: 50%;
  }
}

.control__input[type="checkbox"]:not(:disabled):hover + .control__mark-check,
.control__input[type="checkbox"]:not(:disabled):focus + .control__mark-check {
  border-color: $color-base-light;
  background-color: $color-base-025;
}

.control__input[type="checkbox"]:checked ~ .control__mark-check {
  background-color: $color-base;
}

.control__input[type="checkbox"]:disabled ~ .control__mark-check {
  background-color: $color-grey-light;
  cursor: no-drop;
}

.control__input[type="checkbox"]:disabled:checked ~ .control__mark-check {
  background-color: $color-grey-light;
  cursor: no-drop;

  &::before {
    background-color: $color-grey;
    cursor: no-drop;
  }
}

.control__input[type="checkbox"]:disabled ~ .text-label {
  color: $color-grey-light;
  cursor: no-drop;
}

.control__input[type="checkbox"]:checked ~ .control__mark-check::before {
  content: "";
  margin: 0 0 0 18px;
}
