.footer {
  padding-top: 20px;
  padding-bottom: 30px;

  @include media-tablet {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  @include media-desktop {
    padding-top: 40px;
  }
}

.footer__wrapp {
  @include media-desktop {
    display: flex;
    gap: 30px;
  }
}

.footer__wrapp-inner {
  display: flex;
  // justify-content: space-between;
  margin-bottom: 20px;

  @include media-tablet {
    margin-bottom: 8px;
  }

  @include media-desktop {
    width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__info {
  padding-bottom: 20px;

  @include media-tablet {
    padding-bottom: 0;
  }
}

.footer__developed {
  border-top: 1px solid $color-line;
  padding-top: 18px;
  text-align: center;

  @include media-tablet {
    border-top: none;
    padding-top: 36px;
  }

  @include media-desktop {
    padding-top: 25px;
  }
}

.footer__developed-link {
  display: flex;
  gap: 4px;
  justify-content: center;
  text-decoration: none;

  &:hover span,
  &:focus span {
    // background-color: $color-line;
    color: $color-base;

    // &::before {
    //   background-color: $color-base;
    // }
  }

  &:active span {
    // background-color: $color-base-025;
    color: $color-base-dark;
  }
}

.footer__logo {
  margin-right: 38px;
  margin-top: 2px;
  margin-bottom: 2px;

  @include media-tablet {
    width: 170px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-desktop {
    text-decoration: none;
  }
}

.footer__logo-pict {
  display: block;
  width: 82px;
  height: 36px;

  @include media-tablet {
    width: 170px;
  }
}

.footer__logo-text {
  display: none;

  @include media-desktop {
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
