.form {
  margin-bottom: 40px;

  @include media-desktop {
    box-sizing: border-box;
    width: 318px;
  }
}

.form__field {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  @include media-tablet {
    width: 223px;
    margin-bottom: 0;
  }

  @include media-desktop {
    width: 318px;
  }
}

.form__title {
  margin-bottom: 20px;
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__btn-wrapp {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-tablet {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}

.form__wrapp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;

  @include media-tablet {
    flex-direction: row;
    margin-bottom: 40px;
  }

  @include media-desktop {
    flex-direction: column;
    gap: 30px;
  }
}
