.header {
  position: relative;
}

.header__logo {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-decoration: none;
  margin-right: 88px;
  padding-top: 4px;

  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  @include media-tablet {
    margin-right: 67px;
  }

  @include media-desktop {
    margin-right: 0;
    width: 316px;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-descktop {
  display: none;
  user-select: none;

  @include media-desktop {
    display: inline;
    padding-top: 2px;
  }
}
