.icon {
  overflow: visible;

  @include icon;

  &::before {
    content: "";

    @include icon;
  }
}

.icon--basket::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: $color-black;

  mask-image: url("../../icons/basket.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon--user::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: $color-black;

  mask-image: url("../../icons/user.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon--slider-btn::before {
  display: block;
  width: 11px;
  height: 20px;

  background-color: $color-base;

  mask-image: url("../../icons/arr-left.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon--speed::before {
  background-image: url("../../icons/icon_speed.svg");

  @include media-tablet {
    margin-top: 4px;
  }

  @include media-desktop {
    margin-top: 0;
  }
}

.icon--comfort::before {
  background-image: url("../../icons/icon_comfort.svg");
}

.icon--features::before {
  background-image: url("../../icons/icon_features.svg");
}

.icon--ecolog::before {
  background-image: url("../../icons/icon_ecolog.svg");

  @include media-tablet {
    margin-top: 4px;
  }

  @include media-desktop {
    margin-top: 0;
  }
}

.icon-btn::before {
  display: inline-block;
  width: 20px;
  height: 16px;
  margin: 2px 6px 2px 0;
  background-image: url("../../icons/basket_add.svg");
}

.icon--select::before {
  display: inline-block;
  width: 10px;
  height: 6px;

  background-color: $color-base;

  mask-image: url("../../icons/select_arr.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon-vk::before {
  background-color: $color-grey;
  display: block;
  width: 20px;
  height: 20px;

  mask-image: url("../../icons/VK.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon-pint::before {
  display: block;
  width: 22px;
  height: 22px;
  background-color: $color-grey;

  mask-image: url("../../icons/pinterest.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon-ok::before {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $color-grey;

  mask-image: url("../../icons/ok.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.icon-adress {
  display: flex;
  gap: 6px;
}

.icon-phone {
  display: flex;
  gap: 6px;
  align-items: center;
}

.icon-adress::before {
  display: inline-block;
  width: 13px;
  height: 16px;
  background-image: url("../../icons/address.svg");
  flex-shrink: 0;
}

.icon-phone::before {
  display: inline-block;
  width: 13px;
  height: 16px;
  background-image: url("../../icons/phone.svg");
  flex-shrink: 0;
}

.icon--pagination::before {
  display: block;
  width: 10px;
  height: 10px;
  background-color: $color-base;

  mask-image: url("../../icons/arr-left.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;

  @include media-tablet {
    display: none;
  }
}
