.nav {
  display: flex;
  // justify-content: space-between;
  align-items: center;

  @include media-desktop {
    gap: 162px;
  }
}

.nav__list {
  display: none;

  @include list-reset;

  @include media-tablet {
    display: flex;
    margin-right: 60px;
  }

  @include media-desktop {
    gap: 20px;
    margin-right: 0;
  }
}

.nav__link {
  padding: 31px 20px;
  display: flex;

  &--current {
    color: $color-base;
    border-bottom: 2px solid $color-base;
  }
}
