.pagination {
  margin-top: 40px;
}

.pagination__list {
  @include list-reset;

  display: flex;
  align-items: center;
  gap: 20px;

  @include media-tablet {
    justify-content: right;
  }
}

.pagination__txt {
  display: none;
  user-select: none;

  @include media-tablet {
    display: inline;
  }
}

.pagination__link {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: $color-white;
  border: none;
  border-radius: 4px;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  &--current {
    background-color: transparent;
  }

  &--text {
    @include media-tablet {
      width: 91px;
    }
  }

  &--text-r {
    transform: rotate(180deg);

    @include media-tablet {
      width: 104px;
      transform: rotate(0deg);
    }
  }

  &:hover::before,
  &:focus::before,
  &:active::before,
  &:disabled::before {
    background-color: $color-white;
  }

  &:not(.pagination__link--current):not(:disabled):hover,
  &:not(.pagination__link--current):not(:disabled):focus {
    color: $color-white;
    background-color: $color-base-light;
  }

  &:not(.pagination__link--current):not(:disabled):active {
    color: $color-white;
    background-color: $color-base-dark;
  }

  &:disabled {
    color: $color-white;
    background-color: $color-grey-light;
  }
}
