.pagination {
  margin-top: 40px;
}

.pagination__list {
  @include list-reset;

  display: flex;
  align-items: center;
  gap: 20px;

  @include media-tablet {
    justify-content: right;
  }
}

.pagination__txt {
  display: none;

  @include media-tablet {
    display: inline;
  }
}

.pagination__link {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: $color-white;
  border: none;
  border-radius: 4px;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.pagination__link--current):hover,
  &:not(.pagination__link--current):focus {
    color: $color-white;
    background-color: $color-base-light;
  }

  &:not(.pagination__link--current):active {
    color: $color-white;
    background-color: $color-base-dark;
  }

  &:disabled {
    color: $color-white;
    background-color: $color-grey-light;
  }

  &--current {
    background-color: transparent;
  }

  &--text {
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-image: url("../../icons/arr-left.svg");

    @include media-tablet {
      width: 91px;

      background-image: none;
      // padding-left: 20px;
      // padding-right: 20px;
    }
  }
}

.pagination__ilnk--text-r {
  width: 104px;

  background-position: center;
  background-image: url("../../icons/arr-right.svg");

  @include media-tablet {
    background-image: none;
  }
}
