.price {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-tablet {
    // flex-direction: row;
    gap: 30px;
    flex-flow: row wrap;
    margin-bottom: 70px;
    justify-content: center;
  }

  @include media-desktop {
    margin-bottom: 60px;
  }
}

.price__card {
  box-sizing: border-box;
  background-color: $color-white;
  padding: 40px 20px 20px;

  transition: 0.3s ease-in-out;

  @include media-tablet {
    width: 349px;
    padding: 50px 30px 30px;
  }

  @include media-desktop {
    width: 317px;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible,
  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.price__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;

  @include media-tablet {
    margin-bottom: 30px;
  }
}

.price__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  @include media-tablet {
    margin-top: 20px;
  }
}
