.range__bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  left: 0;
  width: 260px;

  height: 4px;
  background-color: $color-base-light;

  @include media-tablet {
    width: 203px;
  }

  @include media-desktop {
    width: 298px;
  }
}

.range__toggle {
  display: block;
  width: 24px;
  height: 24px;

  padding: 0;
  position: absolute;
  cursor: pointer;


  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid $color-base-light;

  &--min {
    top: -10px;
    left: 0;
  }

  &--max {
    top: -10px;
    right: 0;
  }

  &::before {
    margin: 0 auto;
    box-sizing: border-box;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;

    background-color: $color-white;
  }
}


.range__toggle:not(:disabled):hover,
.range__toggle:not(:disabled):focus {
  &::before {
    background-color: $color-base-025;
  }
}

.range__toggle:not(:disabled):active {

  // background-color: green;

  &::before {
    background-color: $color-base-025; // НЕ РАБОТАЕТ!!!!
  }
}

.range__toggle:disabled {
  border-color: #e5e5e5;
}

/* +++++++++++++ мин и мах  range +++++++++++++++++++ */
.range__xz {
  width: 8px;
  height: 2px;
  background-color: $color-grey;
}

.range__filed::-webkit-outer-spin-button,
.range__filed::-webkit-inner-spin-button {
  appearance: none;
}

.range__wrapp-field {
  box-sizing: border-box;
  display: flex;
  gap: 18px;
  align-items: center;

  @include media-tablet {
    gap: 21px;
  }
}

.range__label-price {
  position: relative;
  color: #969595;
}

.label-price-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;

  max-width: 50px;
  height: 24px;

  text-align: end;
}

.range__field::-webkit-inner-spin-button,
.range__field::-webkit-outer-spin-button {
  appearance: none;
}


.range__field {
  box-sizing: border-box;
  width: 118px;
  height: 40px;
  padding: 8px 10px;

  border: 2px solid $color-base-light;
  border-radius: 4px;

  appearance: textfield;
  text-align: center;

  @include media-tablet {
    width: 87px;
  }

  @include media-desktop {
    width: 134px;
  }

  &:focus {
    outline: none;
    border-color: $color-base-dark;
  }

  &:disabled {
    border-color: $color-grey-light;
    color: $color-grey;
  }

  &::placeholder {
    color: $color-grey;
    opacity: 1;
  }
}

.range__ui-slider-wrapp {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  @include media-tablet {
    margin-bottom: 20px;
  }
}
