.slider {
  position: relative;
}

.slider__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-desktop {
    flex-direction: row;
    gap: 30px;
  }
}

.slider__img {
  width: 280px;
  height: 280px;

  @include media-tablet {
    width: 476px;
    height: 476px;
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @include media-desktop {
    width: 600px;
    height: 600px;
    order: 0;

    margin-top: 0;
    margin-bottom: 0;
  }
}

.slider__list {
  @include list-reset;
}

.slider__item {
  display: none;
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;

  @include media-tablet {
    padding: 60px;
    padding-bottom: 0;
  }

  @include media-desktop {
    width: auto;
    padding: 30px 80px 84px 105px;
  }

  &--1 {
    background: $color-bg-white;

    @include media-tablet {
      background: linear-gradient($color-bg-white 640px, $color-white 640px);
    }

    @include media-desktop {
      background: $color-bg-white;
    }
  }

  &--2 {
    background: $color-bg-latte;

    @include media-tablet {
      background: linear-gradient($color-bg-latte 640px, $color-white 640px);
    }

    @include media-desktop {
      background: $color-bg-latte;
    }
  }

  &--3 {
    background: $color-bg-espresso;

    @include media-tablet {
      background: linear-gradient($color-bg-espresso 640px, $color-white 640px);
    }

    @include media-desktop {
      background: $color-bg-espresso;
    }
  }
}

.slider__item--current {
display: block;  
}

.slider__info {
  @include media-desktop {
    margin-top: -12px;
  }
}

.slider__badge {
  margin-top: 9px;
  margin-bottom: 5px;

  @include media-tablet {
    margin-top: 0;
    margin-bottom: 4px;
  }

  @include media-desktop {
    text-align: left;
  }
}

.slider__title {
  margin-bottom: 10px;

  @include media-tablet {
    margin-bottom: 16px;
  }
}

.slider__text {
  margin-bottom: 20px;
  padding-left: 21px;
  padding-right: 21px;

  @include media-tablet {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-desktop {
    margin-bottom: 40px;
    text-align: left;
  }
}

.slider__buy {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-desktop {
    justify-content: left;
  }
}

.slider__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(to right, $color-white, transparent);
  }

  &:active {
    background: linear-gradient(to right, $color-base-025, transparent);
  }

  &:disabled::before {
    background-color: $color-grey;
  }

  &--r {
    transform: rotate(180deg);
    left: auto;
    right: 0;
  }

  @include media-tablet {
    width: 80px;
    height: 640px;
  }

  @include media-desktop {
    height: auto;
  }
}

.slider__dots-wrapp {
  display: none;

  @include media-desktop {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.slider__dots {
  border: none;
  padding: 0;
  width: 62px;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-base-025;
  }

  &:active {
    background-color: $color-base;
  }

  &:disabled {
    background-color: $color-grey-light;
  }

  &--current {
    background-color: $color-base;
  }
}
