.slider {
  position: relative;
}

.slider__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-desktop {
    flex-direction: row;
    gap: 30px;
  }
}

.slider__img {
  width: 280px;
  height: 280px;

  @include media-tablet {
    width: 476px;
    height: 476px;
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @include media-desktop {
    width: 600px;
    height: 600px;
    order: 0;

    margin-top: 0;
    margin-bottom: 0;
  }
}

.slider__list {
  @include list-reset;

  // @include media-desktop {
  //   margin-right: 80px;
  //   margin-left: 105px;
  // }

}

.slider__item {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;

  &--1 {
    background: $color-bg-white;
    // display: none;
    
      @include media-tablet {
      background: linear-gradient($color-bg-white 640px, $color-white 640px);
      }

      @include media-desktop {
       background: $color-bg-white;
      }
    }
  
  &--2 {
    background: $color-bg-latte;
    display: none;
    
      @include media-tablet {
        background: linear-gradient($color-bg-latte 640px, $color-white 640px);      }

      @include media-desktop {
       background: $color-bg-latte;
      }
  }

  &--3 {
    background: $color-bg-espresso;
    display: none;
    
      @include media-tablet {
        background: linear-gradient($color-bg-espresso 640px, $color-white 640px);      }

      @include media-desktop {
       background: $color-bg-espresso;
      }
  }

  @include media-tablet {
    padding-top: 60px;
    padding-bottom: 0;
    // width: 608px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media-desktop {
    width: auto;
    padding-top: 30px;
    padding-bottom: 84px;
    padding-left: 105px;
    padding-right: 80px;
  }
}

.slider__info {
  @include media-desktop {
    margin-top: -12px;
  }
}

.slider__badge {
  margin-top: 9px;
  margin-bottom: 5px;

  @include media-tablet {
    margin-top: 0;
    margin-bottom: 4px;
  }

  @include media-desktop {
    text-align: left;
  }
}

.slider__title {
  margin-bottom: 10px;

  @include media-tablet {
    margin-bottom: 16px;
  }
}

.slider__text {
  margin-bottom: 20px;

  @include media-desktop {
    margin-bottom: 40px;
    text-align: left;
  }
}

.slider__buy {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-desktop {
    justify-content: left;
  }
}

.slider__btn-wrapp {
  position: absolute;
  top: 318px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-tablet {
    top: 308px;
  }

  @include media-desktop {
    top: 345px;
  }
}

.slider__arr {
  display: block;
  width: 11px;
  height: 20px;
  margin-left: 4px;

  @include icon;
  background-image: url("../../icons/arr-left.svg");

  background-color: transparent;
  border: none;

  cursor: pointer;

  @include media-tablet {
    margin-left: 34px;
  }

  &--r {
    transform: rotate(180deg);
    margin-right: 4px;

    @include media-tablet {
      margin-right: 34px;
    }
  }
}

.slider__dots-wrapp {
  display: none;

  @include media-desktop {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.slider__dots {
  border: none;
  padding: 0;
  width: 62px;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: $color-base;
}