.user {
  box-sizing: border-box;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // gap: 20px;
}

.user__txt {
  display: none;

  @include media-desktop {
    display: inline;
    // background-color: bisque;
  }
}

.user__link {
  box-sizing: border-box;
  display: block;
  padding: 22px 22px 18px;
}
